
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

  body{
    font-family: 'Rubik Distressed', cursive,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: hsl(220,15%,55%);
  }
  
.container{
    width: 300px;
    height: 430px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


  
  p{
      font-size: 12px;
      text-align: center;
      color: hsl(220, 15%, 55%)
      

      

  }
  .topic{
      font-size: 1.1rem;
      padding-top: 1rem;
      text-align: center;
  }
  .qr-code{
    width:  250px;
    border-radius: 10px;
}
.content{



}

